/* ESTILIZAÇÃO CARDS */
.main {
  padding: 2.5rem;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main > h2 {
  font-size: 1.25rem;
  text-align: center;
  color: var(--color-font-01);
  /* margin-bottom: 3.12rem; */
  padding: 1.25rem;
}
 .container__card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  justify-content: space-between;
}
.content__card {
  margin: 0 auto;
}
.contente {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #141313;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.image__card {
  margin-top: -0.62rem;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}
.name__card {
  padding: 1rem;
  color: var(--color-text-01);
  font-size: 1.37rem;
  text-align: center;
}
.idade__card {
  color: var(--color-description);
  font-size: 0.9rem;
  text-align: center;
}
.shortDescription__card {
  padding: 1.25rem;
  color: var(--color-description);
  font-size: 1rem;
  text-align: center;
}


@media only screen and (max-width: 750px) {
  .name__card {
    font-size: 1rem;
    padding: 5px;
  }
  .idade__card {
    font-size: 0.5rem;
  }
  .shortDescription__card {
    padding: 0.6rem;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .container__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 2rem;
  }
  .main h2 {
    padding: 0;
    text-align: justify;
    margin-bottom: 25px;
  }
  .section-filters {
    flex-direction: row;
    align-content: space-between;
  }
  label {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
  }
  select#filters,
  select#order {
    margin: 0;
    width: 100%;
  }
  .container__card {
    margin-right: 0;
    justify-content: space-between;
  }
  #order {
    margin: 10px;
  }
  button#btn-limpar {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
  }
  dl {
    min-height: 1rem;
  }
}

