/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}
header{
  font-family: "Nunito", sans-serif;
  /* display: none; */
}
/* Background */
.background {
  background-image: url("../../../images/chat/background-chat.png");
}

/* DESKTOP RESPONSIVO */
@media only screen and (min-width: 768px) {
  .background {
    display: flex;
  }
  main.container__main {
    margin-top: 6.5rem;
    border-right: 1px solid #c9c9c9;
    width: 72%;
  }

  .centralizado {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: auto;
    height: 100vh;
  }

  .individual {
    border-bottom: 1px solid #c9c9c9;
  }
  #chat{
    width: 100%;
    overflow-y: auto;
    /* padding: 10px; */
    height: 65vh;

  }
  .container__input {
    border-top: 1px solid #c9c9c9;
  }

  .container_input__chat {
    display: flex;
    margin-top: 10px;
  }

  .container__name {
    margin-left: 10px;
  }

  .container__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  #btn_enviar_chat {
    background-color: var(--green-500);
    color: var(--color-white);
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    height: 40px;
    width: 140px;
  }

  .input__chat {
    width: 90%;
    height: 40px;
    font-size: 1.2rem;
    border: solid 1px #c9c9c9;
    border-radius: 10px 0 0 10px;
    border-right-width: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .user-message,
  .openai-message {
    position: relative;
    font-weight: 500;
    padding: 1%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .user-message {
    position: relative;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    background-color: #fff8e3;
    border-radius: 10px 10px 0px 10px;
    padding: 1%;
    text-align: right;
    margin-bottom: 0.5rem;
  }

  .openai-message {
    background-color: #d9fdd3;
    border-radius: 0 10px 10px 10px;
    text-align: left;
  }

  #openai_digitando {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
  }

  .chat-content {
    width: 100%;
  }

  .desktop-content {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    height: 100vh;
    overflow-y: auto;
  }

  /* Scrollbar */
  .desktop-content::-webkit-scrollbar {
    width: 8px;
  }

  .desktop-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .desktop-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }

  #user-cards {
    margin-top: 7rem;
    width: 550px;
  }

  ul.user-cards {
    list-style-type: none;
  }

  .user-cards li {

    border-bottom: 1px solid #c9c9c9;
    padding: 15px;
  }

  a.user-card__link {
    display: flex;
    align-items: center;
    color: var(--color-text-01);
  }

  a.user-card__link img {
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  .image__grupo {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  .user-description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.1rem;
    align-items: baseline;
  }

  .user.group {
    width: 100%;
  }

  p.user-name {
    font-size: 1.52rem;
    font-weight: 700;
  }

  p.user-quote {
    font-size: 1rem;
    font-weight: 600;
  }
}
/* MOBILE RESPONSIVO */
@media only screen and (max-width: 768px){
  /* main container */
  main.container__main {
    margin-top: 7rem;
    border-right: 1px solid #c9c9c9;
    /* width: 72%; */
  }

  .centralizado {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: auto;
    height: 100vh;
  }

  .individual {
    border-bottom: 1px solid #c9c9c9;
  }
  #chat{
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    height: 50vh;

  }
  .container__input {
    border-top: 1px solid #c9c9c9;
  }

  .container_input__chat {
    display: flex;
    margin-top: 10px;
  }

  .container__name {
    margin-left: 10px;
  }

  .container__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }


  #container__dados{
    display: none;
  }
  .container__dados{
    margin-top: 7rem;
  }
  /*  */

  #btn_enviar_chat {
    background-color: var(--green-500);
    color: var(--color-white);
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    height: 40px;
    width: 140px;
  }

  .input__chat {
    width: 90%;
    height: 40px;
    font-size: 1.2rem;
    border: solid 1px #c9c9c9;
    border-radius: 10px 0 0 10px;
    border-right-width: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .user-message,
  .openai-message {
    position: relative;
    font-weight: 500;
    padding: 1%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .user-message {
    position: relative;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    background-color: #fff8e3;
    border-radius: 10px 10px 0px 10px;
    padding: 1%;
    text-align: right;
    margin-bottom: 0.5rem;
  }

  .openai-message {
    background-color: #d9fdd3;
    border-radius: 0 10px 10px 10px;
    text-align: left;
  }

  #openai_digitando {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
  }

  .chat-content {
    width: 100%;
  }

}
