/* Footer styles */
.footer {
  background-color: var(--color-header);
  color: var(--color-white);
  padding: 3.12rem 0;
  text-align: center;
}

.footer p {
  font-size: 1.25rem;
  padding-top: 1.25rem;
}

.container__footer {
  max-width: 50rem;
  margin: 0 auto;
}

.socialIcons a {
  color: var(--color-white);
  margin-right: 0.62rem;
  text-decoration: none;
}

.footer i {
  font-size: 1.8rem;
}

em {
  color: var(--green-700);
}
